<div style="text-align: center;">
  <h3>Selecione um país</h3>
  <!-- <button mat-raised-button color="primary" (click)="findCountries()">
    Países
    <span class="material-icons">
      flag_circle
    </span>
  </button> -->
  <div class="container">
    <div *ngFor="let country of this.arrayCountries" class="content_country">
      <mat-card class="card_country" (click)="selectCountry(country)">
        <div>
          <div><img width="100px" [src]="country.flag" [alt]="country.name"/></div>
          <div>{{country.name}}</div>
        </div>
      </mat-card>
    </div>
  </div>

</div>
